body {
  background-color: gainsboro;
}

input {
  background-color: gainsboro;
}

#btn {
  background-color: gainsboro;
}

.punchCard {
  font-size: 1.25rem;
}

.App {
  text-align: center;
  font-size: 1.25rem;
}

.wholeThing {
  margin: 0;
  display: flex;
  flex-direction: column;
}

#img {
  margin-left: 35%;
  margin-right: 30%;
  height: 20%;
  width: 30%;
}